version: '3.8'

services:
  backend:
    build: .
    container_name: FASTAPI_BACKEND
    command: uvicorn app.main:app --reload --host 0.0.0.0 --port 8000
    volumes:
      - .:/app
    env_file:
      - .env
    ports: 
      - "8000:8000"
    depends_on:
      postgres:
        condition: service_healthy
      s3-bucket:
        condition: service_started

  postgres:
    image: postgres:latest
    container_name: postgres_container
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "5430:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}" ]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  s3-bucket:
    image: minio/minio
    container_name: minio_storage
    env_file:
      - .env
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"
    restart: unless-stopped

  createbuckets:
    image: minio/mc
    depends_on:
      - s3-bucket
    env_file:
      - .env
    entrypoint: >
      /bin/sh -c "
      sleep 5;
      /usr/bin/mc alias set myminio http://s3-bucket:9000 ${MINIO_ROOT_USER} ${MINIO_ROOT_PASSWORD};
      /usr/bin/mc mb myminio/avatars || true;
      /usr/bin/mc mb myminio/notes || true;
      /usr/bin/mc anonymous set public myminio/avatars || true;
      exit 0;
      "

volumes:
  postgres_data:
  minio_data: