# Web Framework
fastapi==0.115.0
uvicorn[standard]==0.32.0

# Database
sqlalchemy==2.0.36
asyncpg==0.30.0
greenlet==3.1.1

# Validation & Settings
pydantic[email]==2.9.2
pydantic-settings==2.6.0
python-dotenv==1.0.1

# Security & Hashing
bcrypt==4.2.0
# passlib видаляємо, якщо переходимо на чистий bcrypt

# Utils
loguru==0.7.2